.secaoQuemSomos {
    text-align: center;
    background-color: var(--botao);
}

.secaoQuemSomos-titulo{
    color: var(--branco);
    font-weight: 700;
    padding: 0 0 1em 0;
}
  
.secaoQuemSomos-link{
    text-decoration: none;
    color: var(--preto);
}

.secaoQuemSomos-link:hover{
    color: var(--botao);
}

.secaoQuemSomos-apresentacao {
    border-radius: 5px;
    background-color: var(--branco);
    width: 80%;
    margin: 0 .5em 2em .5em;
    padding-bottom: 2em;
    box-shadow: 0 2px 9px var(--botao);
    max-width: 300px;
    display: inline-block;
}
  
.secaoQuemSomos-apresentacao-titulo {
    color: inherit;
    font-family: 'Fira', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding: .4em 1em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--branco);
    margin-bottom: .5em;
}
  
.secaoQuemSomos-apresentacao-aluno {
    color: inherit;
    text-align: center;
    font-size: 3em;
    margin-top: 12px;
    font-family: 'Fira', sans-serif;
    display: inline;
    position: relative;
}

.secaoQuemSomos-apresentacao-img{
    width: 150px;
    height: 150px;
}
  
.secaoQuemSomos-apresentacao-itens {
    text-align: left;
    padding-left: 30px;
    margin: 1em auto 1.5em auto;
    line-height: 2;
    list-style: disc;
    color: var(--preto);
    width: 240px;
}
   
@media (min-width: 830px) {
    .secaoQuemSomos-apresentacao {
      max-width: 260px;
    }
}